<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to 'Icon', root_path, class: 'navbar-brand core-sprite hiden-text' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex ms-md-auto">
        <input class="form-control me-2 text-center" type="search" placeholder="Search" aria-label="Search">
      </form>
      <ul class="navbar-nav ms-md-auto">
        
        <li class="nav-item">
          <a class="nav-link core-sprite explore-icon hiden-text" href="#">Explore</a>
        </li>

        <li class="nav-item">
          <a class="nav-link core-sprite notification-icon hiden-text" href="#">Notification</a>
        </li>

        <li class="nav-item">
          <a class="nav-link core-sprite profile-icon hiden-text" href="#">Profile</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>